 
@import "../../style-common/elements.styles.scss";

.searchField {
    width:100%;
    margin-bottom:5%;
    background-color: $ColorSecondary;
    &:focus {
        outline-style:solid;
        outline-color:transparent;
        box-shadow: 0 0 0 4px $ColorAdd
    }
    transition: 220ms all ease-in-out;
}

.searchBlock {
    display:flex;
    align-items: center;
    justify-content: center;
     
}

.searchBlock button {
 

}

 