.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width: 20%;
    height: 375px;
    flex: 0 2 auto;
     
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 10px;
    overflow:hidden;
    padding-left:0px;
    padding-right:0px;
    
    
}

.cover-container {
    width: 95%;
    height: 80%;
    padding-bottom:5px;
    overflow:hidden;
    
    
}




.background-image {
    display:flex;
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow:hidden;
    background-size:cover;
    background-position: center;
    &:hover {
        transform: scale(1.1);
        transition:  transform   6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
    
}

.add-to-cart {
    width:30px;
    height: 30px;
   

}

.shopping-info {
    width:100%;
}

.cart-info {
    width:100%
}

 
.item-name {
    display: flex;
    justify-content: center;
}
.category-body-container {
        height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      background-color: white;
      opacity: 0.7;
      position: absolute;
    h1 {
        font-weight: bold;
        margin: 0 6px 0;
        font-size: 22px;
        color: #4a4a4a;
    }
}