 @import "../../style-common/elements.styles.scss";

.cart-dropdown {
    position: absolute;
    width: 20rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0;
    border: 1px solid black;
    background-color: $ColorSecondary;
    top: 5%;
    right: 1rem;
    z-index: 5;
     
    .item-list {
       color: $ColorPrimary; 
    }
     
}

.btn-block { 
    display: flex;
    justify-content: center;
    #btn-to-checkout{

        position: absolute;
        top: 90%;
    
    
        #link-to-checkout {
    
        text-decoration: none; 
        color: $ColorSecondary;
        }

        
        &:hover {
            background-color: scale-color($ColorPrimary, $lightness: -25%);
        }

        background-color: $ColorPrimary;
        
    
    
    }
}