.cart-item-checkout-position {
    display: flex;
    gap: 20rem;
     justify-content: space-evenly;
    .checkout-position-name {
        width: 20rem;
    }

    .checkout-position-quantity {

    }
}