@import "../../style-common/elements.styles.scss";

.item-card-detailed-image {
    display:flex;
    height: 20rem;
    width: 20rem;
    object-fit:cover;
    overflow:hidden;
    background-size:cover;
    background-position: center;

}


.item-card-detailed-description {
 margin-left: 5rem;
}


.item-card-detailed-block {
    display:flex;
    margin-left: 5rem;
    .btn-common-primary{
        margin-left:0;
        margin-top: 1rem;
    }
}