@import "../../style-common/elements.styles.scss";

.sign-in-group {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   .sign-in-btn {
    margin-top:10%;
    }
}

.input-field{
 
}

