@import "../../utils/variables_scss.scss";


.checkout-info {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
     
}
 

#deliveryAdress {
    width:100%;
    margin-bottom:5%;
    background-color: $ColorSecondary;
    &:focus {
        outline-style:solid;
        outline-color:transparent;
        box-shadow: 0 0 0 4px $ColorAdd;
        background-color: white;
    }
    transition: 220ms all ease-in-out;
    margin-top:3%;
}